<p><a href= '/homepage'>Homepage</a></p>
<form name='logout' action='/logout' method='post'>
<input type='submit' value='Log Out' class='button'>
</form>

<!-- SEARCH -->
<form method='POST' action='/search'>
  <input type="text" name="leader" value="Search">
</form>

<p> ********************My Profile *****************************</p>
<p><a href='http://localhost:9393/users/<%= @user.id %>/private_profile'> <%=@user.first_name %> <%=@user.last_name %></a></p>
<p>Username: <%=@user.user_name %></p>
<p><a href= 'http://localhost:9393/users/<%=@user.id%>/followers'>Followers: <%= @user.followers_count %></a></p>
<p><a href= 'http://localhost:9393/users/<%=@user.id%>/leaders'>Leaders: <%=@user.leaders_count %></a></p>

<p> ********************Tweet Now *****************************</p>

<form name='new_tweet' action='/tweets/new' method='post'>
  <label> Type a New Tweet! (Limit 140 chars) </label>
  <input name="text" type="text" value="">
  <input type='submit' value='Tweet Me!' class='button'>
</form>

<p> ********************Your Tweet Feed *****************************</p>

<p><% @tweets.each do |tweet| %></p>
    <p><%= tweet.text %></p>
    <a href= '/tweet/tweet.id/edit'> Edit</a>
    <a href= '/delete'> Delete</a>
<p><% end %></p>

