<p><a href= '/homepage'>Home</a></p>
<p><a href= '/homepage'>Tweet</a></p>
<form name='logout' action='/logout' method='post'>
<input type='submit' value='Log Out' class='button'>
</form>

<form method='POST' action='/search'>
  <input type="text" name="leader" value="Search for leader here">
</form>

<p> ********************<%=@leader.first_name %> Profile *****************************</p>


 <%=@leader.first_name %> <%=@leader.last_name %></p>
<p>Username: <%=@leader.user_name %></p>
<p><a href= 'http://localhost:9393/users/<%=@leader.id%>/followers'>Followers: <%= @leader.followers_count %></a></p>
<p><a href= 'http://localhost:9393/users/<%=@leader.id%>/leaders'>Leaders: <%=@leader.leaders_count %></a></p>

<form name='add_leader' action="/users/<%= @id %>/add_leader/" method='post'>
<input type='submit' value='Add Leader' class='button'>
</form>

<p> ******************** <%=@leader.first_name %> Tweets *****************************</p>

<p><% @tweets.each do |tweet| %></p>
    <p><%= tweet.text %></p>
    <p><%= tweet.created_at %></p>
<p><% end %></p>

